
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project 3</title>
        <link rel="stylesheet" type="text/css" href="css\Style.css">
		<script src="script.js"></script>
    </head>
    <body>
        <div align="center">
            <form method="POST" action="/app.php">
                Username: <input class="textbox" type="text" id="username" name="username"/><br /><br />
                Password: <input class="textbox" type="password" id="password" name="password"/><br />
                <p><input class="button" onClick="myFunction()" id="button" type="submit" value="Login" /></p><br /><br />
            </form>
			<p id="message"></p>
        </div>
    </body>
</html>

